#linkcolors
{
	link color:#FFCC66; 
    visited color:#FF0000;
    hover color:#FF00FF;  
    active color:#0000FF; 
}
body
{
	background-color: #000000;
	color: #FFC200;
}
p
{
	border: solid #300000 5, 10, 5, 5px;
	border-color: #300000;
	background-color:#300000; 
}
#welcome
{
	text-shadow: gold 5, 2;
	margin: 0px, 5px;
	color: #FFCC00;
	text-align: center;
}
#nav li
{
	float: left;
	display:inline;
	border-bottom: 1px solid yellow;
	list-style: none;
	padding: 5px;
	margin: 1px;
}
#navborder
{
	border: #300000 20px threedhighlight;
}
#yo
{
	font: fantasy; size: 12px; color: bronze; border-bottom: black; 
}
#javascript
{
	border: solid blue 10px;
}
.js
{
	color: navy; font-size: 12px; font-style: normal; float: right; border: solid;
}
#yologo
{
	border: solid black 2px; 
	margin: 5 px; 
	padding: 5, 5, 5, 5px;
	hover: opacity:0.4;
    hover: filter:alpha(opacity=40);
}
#space
{
margin-top:50px;
margin-bottom:50px;
margin-right:100px;
margin-left:100px;
}
#smallspace
{
margin-top:10px;
margin-bottom:10px;
margin-right:50px;
margin-left:50px;
}
#logobed
{
	background-color: #FF9933;
	width: 85%;	
	height: 120px;
}