#logobed
{
	background-color: #FFFF00;
	width: 85%;	
	height: 104px;
    border: solid white 1px;
}
#linkcolors
{
	link: color #FFCC66; 
    visited: color #FF0000;
    hover: color #FF00FF;  
    active: color #0000FF; 
}
.body
{
	text-indent:15px;
	border: solid #000000 5, 10, 5, 5px;
	border-color: #000000;
	background-color:#000000; 
	text-align: left;
}
#pborders
{
	border: solid white 1px; 
	background-color:#FFD700;height:auto;width:300px;inline;
}
body
{
	background-color: #080000;
	color: #FFC200;
}

#welcome
{
	margin: 0px, 5px;
	color: #FFCC00;
	background-color:#080000;
	text-align: center;
}
#nav li
{
	float: left;
	display:inline;
	border-bottom: 1px solid yellow;
	list-style: none;
	padding: 5px;
	margin: 1px;
}
#navborder
{
	border: color #300000 20px;
}
#yo
{
	font: fantasy; 
	size: 12px; 
	color: bronze; 
	border-bottom: black;
	text-align: center;
}
#javascript
{
	border: solid blue 4px;
	margin: 5px;
	border-radius:25px;
	background-color: #003366;
	padding: 1, 30px;
	width: 200px;
	
	
}
.js
{
	color: navy; font-size: 12px; font-style: normal; align:auto; border: solid;
}
img#yologo
{
	border: solid black 2px; 
	margin: 5 px; 
	padding: 50, 50px;
	hover: opacity:0.4;
    hover: filter:alpha(opacity=40);
    
}
#space
{
margin-top:50px;
margin-bottom:50px;
margin-right:100px;
margin-left:100px;
}
#smallspace
{
margin-top:10px;
margin-bottom:10px;
margin-right:50px;
margin-left:50px;
}
#aside
{
	float: right;
	padding: 25px;
    box-shadow: 6px 6px 3px #404040;
	width: 400 px;
	border: double #900000  4px;
	border-radius:25px;
	margin:5px;
}
#yomusic
{
	color: white;
	align: center;
	padding: 10px;
    box-shadow: 6px 6px 3px #404040;
	width: 200 px;
	border: double #FFCC00  4px;
	border-radius:25px;
	margin:5px;
	hover: opacity:0.4;
    hover: filter:alpha(opacity=40);
}